.table-style {}

.tr-style {
    height: 40px;
}

.th-style {
    height: 40px;
    width: 400px;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #DBDBDB;
}

.table-div {
    margin-top: 20px;
}