.input {
    text-align: center;
    width: 100px;
    padding: 5px 10px;
    border-radius: 20px;
    outline: 1px solid #cccccc;
    border: none;
}

.input:focus {
    outline: 2px solid #1565c0;
}