.CalendarDesign {
    background-color: rgb(255, 255, 255) !important; 
    position: relative;
}
.calendarClosePopup{
    margin: 2px;
    border-radius: 5px;
    background-color: #2980B9;
    color: white;
}
.noPatients{
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    background-color: #2980B9;
    color: white;
    text-align: center;
}
.calendarAcCanPopup{
    margin: 2px;
    border-radius: 5px;
    background-color: #2980B9;
    color: white;
}
.calendarAcCanPopup:hover{
    margin: 2px;
    border-radius: 5px;
    background-color: #03275a;
    color: white;
}
.calendarClosePopup:hover{
    margin: 2px;
    border-radius: 5px;
    background-color: #03275a;
    color: white;
}
.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white !important; 
    border: 3px solid #2980B9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 20px;
}
.dialog_two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white !important; 
    border: 3px solid #2980B9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    border-radius: 20px;
}
.cancellable {
    background-color: red; 
}
.showContent{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
.overlay_two {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
/*overrided classes*/

.CalendarDesign .fc-view, 
.CalendarDesign .fc-scroller {
    background-color: rgb(255, 255, 255)
}

.CalendarDesign .fc-toolbar .fc-button-primary {
    background-color: #2980B9; 
    color: #ffffff; 
    border: none; 
}

.fullCalendar .fc .fc-button-primary {
    background-color: #2980B9; 
    color: #ffffff; 
    border: none; 
}

.CalendarDesign .fc-toolbar .fc-button-primary:hover {
    background-color: #03275a; 
    color: #ffffff; 
    border: none; 
}

.CalendarDesign .fc-day-today {
    background-color: #f0f0f0;
}

.event-content {
    color: black; 
    font-weight: bold;
}
.fc-event {
    background-color: rgb(252, 252, 252);
    border: none;
    width: 200px;
}