.cont {
    background-color: white;
    padding: 30px 50px;
    box-shadow: 0px 0px 100px 2px rgb(0, 0, 0, 0.12);
    border-radius: 10px;
}

.cont-title {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 10px;
}